DOMAIN_NAME=yourlogin.42.fr

# mariadb
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=wp_db_name
MYSQL_USER=your_wp_user
MYSQL_PASSWORD=your_wp_password

# wordpress admin
WP_ADMIN_USER=your_admin_username
WP_ADMIN_PASSWORD=your_admin_password
WP_ADMIN_EMAIL=your_email@example.com

# wordpress user
WP_USER=your_user
WP_USER_PASSWORD=your_user_password
WP_USER_EMAIL=user_email@example.com

WP_URL=https://${DOMAIN_NAME}
